.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.inputSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  width: 50px !important;
  height: 50px !important;
  margin-top: 20px;
  font-size: 16px;
}

.formControl {
  width: 100%;
}

.buttonSection {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}