.container {
  background: var(--background);
  border: 2px solid var(--grey);
  border-radius: 8px;
  padding: 22px;

  box-shadow: 0 12px 32px rgba(0, 3, 59, 0.12), 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.container:hover {
  transform: translateY(-2px);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 1rem;
}

.cardInput {
  padding: 10px;
  border: 1px solid var(--grey);
  border-radius: 4px;
  background: var(--background);
  color: var(--foreground);
}